<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
<a href="{% url 'gallery' %}>gallery</a>
<a href="{% url 'home' %}>home</a>
<h1>Additional information about tufts</h1>+

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda blanditiis consequuntur culpa eius error laborum minus nam nesciunt porro tempora totam, veniam, voluptatibus? Eligendi esse facere nam odit ut.</span><span>Accusamus, amet animi architecto assumenda consectetur doloremque ea et facere fugit illum magnam maxime molestiae molestias non nostrum perferendis quaerat quasi quidem ratione repellendus similique tempora tempore tenetur vero voluptas.</span></p>
<h2>Why choose us?</h2>
<div id="main">
    <div>
        <h3>watch1</h3>
        <img src="{% static 'assets/img_6.png' %}" alt="">

        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate fugiat incidunt laboriosam ratione repellendus rerum soluta unde! Alias at iste officiis recusandae soluta voluptatibus? Excepturi facilis necessitatibus quia tempore.</span><span>A accusamus aut consequuntur cupiditate deserunt dicta dignissimos, doloribus ducimus ea facilis iure natus numquam, qui quos recusandae repellendus rerum temporibus tenetur veritatis, voluptatum. Culpa deleniti eius magnam sapiente vel?</span></p>
   <button>More</button>
    </div>

    <div>
        <h3>watch2</h3>
        <img src="{% static 'assets/img_7.png' %}" alt="">

        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate fugiat incidunt laboriosam ratione repellendus rerum soluta unde! Alias at iste officiis recusandae soluta voluptatibus? Excepturi facilis necessitatibus quia tempore.</span><span>A accusamus aut consequuntur cupiditate deserunt dicta dignissimos, doloribus ducimus ea facilis iure natus numquam, qui quos recusandae repellendus rerum temporibus tenetur veritatis, voluptatum. Culpa deleniti eius magnam sapiente vel?</span></p>
      <button>More</button>

    </div>
    <div>
        <h3>watch3</h3>
        <img src="{% static 'assets/img_8.png' %}" alt="">

        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate fugiat incidunt laboriosam ratione repellendus rerum soluta unde! Alias at iste officiis recusandae soluta voluptatibus? Excepturi facilis necessitatibus quia tempore.</span><span>A accusamus aut consequuntur cupiditate deserunt dicta dignissimos, doloribus ducimus ea facilis iure natus numquam, qui quos recusandae repellendus rerum temporibus tenetur veritatis, voluptatum. Culpa deleniti eius magnam sapiente vel?</span></p>
      <button>More</button>

    </div>



</div>
</body>
</html>
